*{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}
header{
 padding: 20px;
}
header span{
    font-weight: bold;
}
.p70{
    width: 70%;
    margin: auto;
}
.fancyhr{
    border: none;
    height: 1px;
    background-color: rgb(0, 51, 153);
}
#name-select{  
    text-align: center;
    width: 50%;
}
#ns-select{
    text-align: center;
    width: 50%;
}
#cmnames{
    width: 158px;
}
#ns-name{
    width: 60%;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px !important;
}
#app{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
#update-cm{
    margin-top: 20px;
}
textarea{
    resize: none;
}
.fl{
    float: left;
}
#cm-div{
    margin-top: 20px;
}
select{
    background-color: #f0f0f0 !important;
    border: 1px solid white;
}
button, select{
    background-color: white;
    
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    
}
button{
    border: none;
    
    background-color:rgb(0, 51, 153);
    color: white;
    cursor: pointer;
    -webkit-transition: all ease 700ms;
}
button:hover{
    background-color: white;
    color: rgb(0, 51, 153);
}
#cm-data{
    font-weight: bold;
    width: 90%;
}
footer{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.invisiblehr{
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
@media (max-width: 747px){
    .selectboxes{
        width: 100% !important;
    }
}