*{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}
header{
 padding: 20px;
}
header span{
    font-weight: bold;
}
.p70{
    width: 70%;
    margin: auto;
}
.fancyhr{
    border: none;
    height: 1px;
    background-color: rgb(0, 51, 153);
}
#name-select{  
    text-align: center;
    width: 50%;
}

#ns-select{
    text-align: center;
    width: 50%;
}

#configmap, #del-configmap{
    text-align: center;
    width: 50% !important; 
    box-sizing: border-box;
}
#secret, #del-secret{
    text-align: center;
    width: 50% !important;
    box-sizing: border-box;
}
#cmnames{
    width: 158px;
}
#cm-secret{
    width: 60%;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.selected{
    background-color: rgb(0, 51, 153);
    color: white;
}
#ns-name{
    width: 60%;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px !important;
}
#app{
    width: 70%;
    margin: auto;
}
#update-cm, #delete-cm, #create-cm{
    margin-top: 20px;
    text-align: center;
}
textarea{
    resize: none;
}
.fl{
    float: left;
}
#cm-div{
    margin-top: 20px;
}
select{
    background-color: #f0f0f0 !important;
    border: 1px solid white;
}
button, select{
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
.fancybutton{
    border: none;
}
.submitbutton{
    border: none;
    background-color:rgb(0, 51, 153);
    color: white;
    cursor: pointer;
    transition: all ease 700ms;
}
.submitbutton:hover{
    background-color: white;
    color: rgb(0, 51, 153);
}
#cm-data{
    font-weight: bold;
    width: 90%;
    background-color: #ffffffc9;
}
footer{
    padding: 20px;
    text-align: center;
}
.invisiblehr{
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
@media (max-width: 747px){
    .selectboxes{
        width: 100% !important;
    }
    #configmap, #secret{
        width: 100% !important;
    }
}
#alpha{
    font-size: 12px !important;
}
#updatemessage{
    text-align: center;
    font-weight: bold;
}
#gh{
    margin-left: 5px;
}
.b{
    font-weight: bold;
}
#gh-image{
    width: 25px;
    height: 25px;
}
.center{
    text-align: center;
}
#updateurlbutton{
    padding: 7px;
    border-radius: 2px;
}
#baseurl{
    padding: 5px;
    font-weight: bold;
}
#endpointdiv{
    display: none;
    margin-top: 5px;
    font-weight: bold;
}
#nav{
 width: 18%;
 text-align: center;
 box-sizing: border-box;
 margin-top: 200px;
}
.action{
    margin-top: 5px;
}
#resourcebody-delete, #resourcebody-create{
    display: none;
}
.al-center{
    text-align: center;
}
.resourcebody{
    text-align: center;
}
#resourcebody-delete-confirm{
    display: none;
    padding: 20px;
    background-color: #f0f0f0;
}
#delete-res-conf{
    padding: 10px;
    border: none;
}
#cm-content-from-file{
    display: none;
}
.plus-button{
    font-weight: bolder;
    background-color: white;
    border: none;
    font-size: larger;
}
.key-value{
    margin-top: 10px;
}
.cm-value-margin{
    margin-left: 5px;
}
.fancyinput{
    padding: 7px;
}
#createmessage{
    margin-top: 20px;
    display: none;
}
.crossbutton{
    float: right;
}
.iconbuttons{
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    padding: 0px !important;
}